name: Build package pip

on: 
  push:
    branches: [dev_wd]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      uses: actions/setup-python@v3
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -m pip install . --no-deps --ignore-installed -vvv
    - name: Run CI
      run: |
        ./.ci_stuff/test_dag.sh
    - name: Docs
      run: |
        cd docs
        make html

